@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply font-sans;
}
/* .liu-btn-switch button {
  @apply border-neutral-100 font-medium;
}

.liu-btn-switch button.disabled {
  @apply bg-neutral-100 text-neutral-400 cursor-default;
} */

/* Tooltip Start */
.liu-tooltip {
  @apply relative inline-block cursor-pointer;
}
.liu-tooltip .liu-tooltip-container {
  @apply absolute text-center w-full z-10;
}
.liu-tooltip .liu-tooltip-text {
  background: rgba(0, 0, 0, 0.8);
  @apply rounded-md opacity-0 py-1 px-2 text-xs text-white transition ease-in-out mx-auto inline-block;
}
.liu-tooltip:hover .liu-tooltip-text {
  @apply opacity-100;
}
.liu-tooltip.liu-tooltip-top .liu-tooltip-container {
  top: -22px;
}
.liu-tooltip.liu-tooltip-bottom .liu-tooltip-container {
  bottom: -22px;
}
.liu-tooltip.liu-tooltip-left .liu-tooltip-container {
  left: -100%;
  @apply text-right pr-2;
}
.liu-tooltip.liu-tooltip-right .liu-tooltip-container {
  right: -100%;
  @apply text-left pl-2;
}

/* Tooltip End */

/* Input Text start  */
.text-input-block {
  /* @apply ; */
}
.text-input-block label {
  @apply flex flex-col space-y-1 max-w-xs w-full;
}
.text-input-block .text-input-label {
  @apply text-base font-medium;
}
.text-input-block .input-box {
  @apply border border-grey-100 p-3 text-grey-800 text-base rounded-md ring-0 ring-offset-0 ring-grey-800 ring-offset-grey-800;
}
.text-input-block .input-box::placeholder {
  @apply text-grey-200;
}
.text-input-block:disabled {
  @apply text-grey-200;
}
.text-input-block:hover,
.text-input-block:focus {
  @apply border-grey-800 ring-0 ring-offset-0;
  outline: 0;
  box-shadow: none;
}
.text-input-block:focus-visible {
  outline: 0;
}

.text-input-block .input-help {
  @apply text-base text-grey-400;
}
.text-input-disabled.text-input-block .text-input-label,
.text-input-disabled.text-input-block .input-help {
  @apply text-grey-200;
}
/* Input Text end   */
